.navigation {
  padding-top: 1.25rem;
  width: 100%;
}

.navigation__hamburger {
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-left: 1.25rem;
}

.navigation__hamburger svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.navigation__menu {
  display: none;
}

.navigation__menu.expanded {
  width: 100%;
  height: 100vh;
  padding-top: 1.25rem;
  z-index: 1;
  position: fixed;
  display: block;
  background-color: #1e1e1e;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation__list li {
  list-style-type: none;
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}

.navigation__list li > a {
  font-size: 1.25rem;
  color: #f0f0f0;
  text-decoration: none;
  padding: 1rem 0;
}

.navigation__list .active_link {
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

@media (min-width: 684px) {
  .navigation {
    padding-top: 2rem;
  }
  .navigation__hamburger {
    display: none;
  }
  .navigation__menu {
    display: block;
  }
  .navigation__list {
    flex-direction: row;
    justify-content: center;
  }
  .navigation__list li {
    text-align: center;
    width: auto;
    padding: 1rem 2.25rem;
  }
  .navigation__list li:hover {
    scale: 1.2;
    transition: scale 0.1s ease-in-out;
  }
}
