@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background-color: #1e1e1e;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  margin: 1.25rem 1.5rem;
  color: #f0f0f0;
  flex-grow: 1;
}

.horizontal-line {
  border-width: 1px;
  border-style: solid;
  margin: 0.75rem 0;
}

.horizontal-line.blue {
  border-color: #80ffff;
}

footer {
  color: #f0f0f0;
  align-self: center;
  font-size: 0.75rem;
  margin: 0.5rem 0 0.75rem 0;
}

@media (min-width: 684px) {
  .main-content {
    margin: 4rem auto 2rem auto;
    width: 34.25rem;
    display: flex;
    flex-direction: column;
  }
}
